<div class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to StoryBooks</h1>
        <p>Write your story and read other stories too...</p>
        {{#if user}}

        {{else}}
        <a class="btn btn-danger" style="color:white;" href="/auth/google"><i class="fa fa-google left"></i> Login with Google</a>
        {{/if}}
    </div>
</div>